@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

header p{
    
    color: #E0E0E0;
    font-weight: 300;

}

header h1{
    font-weight: 600;
}

.bg-header{
background-color:  #264653;

}

.btn-custom{
    background-color: rgb(231, 111, 81);
}

header img{
    width: 552px;
    height: 447px;

}